div{
    color: limegreen;
    height: 100px;
    width : 100px;
    background-color: black;
}

/* when the width of screen will be exact 600px div will turn red */
@media (width : 600px) {
    div{
        background-color: brown;
    }
}

/* div will be grey colored until it is above 500px */

@media (min-width : 500px){
    div{
        background-color: grey;
    }
}

/* div will colored yellow between 300px to 400px */

@media (min-width : 300px) and (max-width : 400px){
    div{
        background-color: rgb(172, 226, 11);
    }
}

