body{
    background-color: rgb(164, 164, 169);
    
}
h1{
    text-align: center;


}

a{
    text-decoration: none;
}

li{
    line-height: 40px;
    text-align: center;
    text-decoration: none;
}
ul{
    text-decoration: none;
    list-style-type: none;
}